:root {
  --primary-edit: #3a6f9e;
  --warning-edit: #ffc107;
  --info-edit: #95c5d7;
}

.bg-primary-edit {
  background: var(--primary-edit);
}

.bg-warning-edit {
  background: var(--warning-edit);
}
.bg-info-edit {
  background: var(--info-edit);
}

body {
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(226, 251, 171, 0.5),
    rgba(19, 112, 213, 0.2),
    rgba(0, 160, 229, 0.3),
    rgba(0, 198, 207, 0.2),
    rgba(117, 229, 178, 0.3)
  ) !important;
}

.d-none {
  display: none;
}
